<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wizglobal.app" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/PanAfricaTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".PriceListActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".BalanceInquiryActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".TransferActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".SellActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".MiniStatementActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".AccountAgentsActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".RegisterCustomerActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".CustomerListActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".MessagesActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".ProductListNavActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".PriceListNavActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".ProductListInterestActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".PriceListInterestActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".AccountList"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/main_title" >
        </activity>
        <activity
            android:name=".ProductsList"
            android:label="@string/main_title" >
        </activity>
    </application>

</manifest>
